<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>


    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table class="job-listing">
       <tr th:each="job : ${jobs}">
            <p>Name: <span th:text="${job.name}"></span></p>
            <p>Employer: <span th:text="${job.employer}"></span></p>
            <p>Location: <span th:text="${job.location}"></span></p>
            <p>Position Type: <span th:text="${job.positionType}"></span></p>
            <p>Skill: <span th:text="${job.coreCompetency}"></span></p>
       </tr>
    </table>

</div>

</body>
</html>